body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

#appBg {
    height: 405px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#appBg form {
    height: 100%;
    width: 100%;
    background-color: black;
}

#appBg input[type=textfield] {
    height: 25%;
    width: 98%;
    cursor: default;
    font-family: 'roboto',sans-serif;
    background-color: black;
    color: white;
    text-align: right;
    font-size:50px;
    border: 0;
    outline: none;
}

#appBg input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'roboto',sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: black;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

#appBg .orange {
    background-color: orange;
    color: white !important;
}

#appBg .gray {
    background-color: gray;
    color: white !important;
}